/*
# author: Rahel Hüppi
# version: 1.0
# date: 28.06.2024
# description: CSS for the HTML-Pages "newTransaction.html", 
"login.html" and "register.html"
*/


main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divForm {
  width: 45%; /* with of the form-container */
  max-width: 600px;
  padding: 30px; /* Spacing within the form container */
  box-shadow: 0 00 20px rgba(0,0,0,0.1); /* Outline around the form */
}

/*font*/
html {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}