/*
# author: Rahel Hüppi
# version: 1.0
# date: 28.06.2024
# description: CSS for showTransactions.html
*/

article {
  background-color: #ebecee;
}

.article {
  padding: 10px;
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
}


