/*CSS for Navigation and Index.html*/
/*####### Navigation ########*/
#navigation {
  display: flex;
  justify-content: space-around; /* space between links */
  list-style-type: none; /* remove buttons */
  /*padding: 0; 
  margin: 0;*/
}

nav a:hover {
  background-color: #dbd8d5; /* Change background color on hover */
  text-decoration: underline ;
}

.navImg {
  width: 50px;
}
#navMonths {
  display: flex;
}

nav {
  background-color: #F5F1ED; 
  padding: 20px;
  border: 1px solid #A99985; /* line (separate nav from main)*/
}

nav a {
  text-decoration: none; /*removes underline*/
  color: black; /* textcolor */
  font-size: 1.5rem;
}

.current {
  text-decoration: underline;
  background-color: #dbd8d5;
}


/*navigation for months*/
#navMonths {
  background-color: #fbfbfb; 
  padding: 20px;
  border: 1px solid #ffffff; /* line (separate nav from main)*/
}

/*footer*/

.footer{
  list-style-type: none;
}

.footer a {
  font-size: 0.9rem;
}


/*######## main #######*/

main {
  flex-grow: 1;
  padding: 20px;
}

body{
  margin: 0;
  background-color: white;
  color: black;
}

#helloMessageContainer {
  text-align: center;
}

#helloMessage {
  font-size: 1.5rem;
}


/*### dashboard ###*/

#divNewTransaction,
#divShowTransactions,
#numberOfTransactions,
#balance {
  background-color: #b9babc;
  padding: 20px; 
  height: 30vh; 
  border-radius: 8px; /*rounded corners*/
  font-size: 1.5rem;
  /*to put the text in the center*/
  display: flex; 
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  border: 1px solid #9c9797;
}

#dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
  grid-gap: 40px; /* gap between divs*/
  width: 60vw; 
  margin-left: auto; /* Centers the dashboard horizontally */
  margin-right: auto; /* Centers the dashboard horizontally */
}


